<body class="gradient_black_body">
	<div class="form-group black_circle_form"><%= form_with url:sessions_path, scope: 'login' do |f| %>
		<div class="center_wrapper"><% if flash[:alert] %>
				<p class="flash_text"><%= flash[:alert] %></p>
			<% end %>
			<h3 class="welcome_text">Welcome to BLOG-A-GEDDON, please log in or create an account.</h3>
				<%= f.email_field :email, placeholder: 'Email', 
				class: "form-control form_margin" %>
				<%= f.password_field :password, placeholder: 'Password', 
				class: "form-control form_margin" %>
				<%= f.submit "Log In", class: "btn btn-primary formmargin" %>
			<% end %></div>
	</div>
</body>