<!DOCTYPE html>
<html>
  <head>
    <title>Blog-A-Geddon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-dark bg-dark">
      <% if user_signed_in? %>
        <%= link_to "Home", posts_path %>
        <%= link_to "Edit Profile", edit_user_path(current_user) %>
        <!-- <a href="/profile">Profile</a> -->
        <%= link_to "New Post", new_post_path %>
        <!-- <a href="/find_user">Find User</a> -->
        <%= link_to "Browse Users", users_path %>
        <%= link_to "Log Out", logout_path, method: :delete %>
        <%= link_to "Delete Account", current_user, method: :delete %>
      <% else %>
        <%= link_to "Login", new_session_path %>
        <%= link_to "Create Account", new_user_path %>
      <% end %>
    </nav>
    <div class="logo"><%= image_tag "BLOG-A-GEDDON.gif", class: "logo_image" %></div>
    <%= yield %>
  </body>
</html>
