<!DOCTYPE html>
<html>
  <head>
    <title>SecondRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "All Users", users_path %>
    <%= link_to "All Posts", posts_path %>
    <% if user_signed_in? %>
    <%= link_to "New Post", new_post_path %>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <% else %>
    <%= link_to "Create Account", new_user_path %>
    <%= link_to "Login", new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
